.BoardContainer{
    position: relative;
}

.Board{
    position: absolute;
    z-index: 1;
}

.GameStatus{
    position: absolute;
    z-index: 2;
}

.GameOver button{
    position: absolute;
    z-index: 2;
}