.TetrisContainer{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    position: relative;
}

.BoardContainer{
}

.Board{
    position: absolute;
    z-index: 1;
}

.GameStatus{
    position: absolute;
    z-index: 2;
}

.GameOver{
    position: absolute;
    z-index: 2;
}
